---
import SandboxLayout from "./SandboxLayout.astro";
---

<SandboxLayout>
    <h1 class="font-bold text-xl">Dashboard</h1>
    <p>This is an exmaple layout page to use for building experiences</p>
</SandboxLayout>
