@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1, h2, h3, h4 {
        @apply tracking-tight;
        @apply font-medium;
        @apply mb-3 lg:mb-6;
    }
    h1 {
        @apply lg:text-3xl text-xl;
    }
    h2 {
        @apply lg:text-2xl text-lg;
    }
    h3 {
        @apply lg:text-xl text-base;
    }
    h4 {
        @apply text-lg;
    }
    p, li {
        @apply lg:text-base text-sm font-light leading-loose;
    }
    ol {
        @apply list-decimal;
    }
    ul {
        @apply list-disc;
    }
    ol, ul {
        @apply ml-6;
    }
    ol, ul, p {
        @apply mb-3 lg:mb-6;
    }
    hr {
        @apply mb-6;
        @apply h-[1px];
        @apply bg-gray-200;
    }
    li {
        @apply mb-2 lg:mb-4;
    }
    b, strong {
        @apply font-semibold;
    }
    blockquote {
        @apply bg-gray-100;
        @apply p-4;
        @apply rounded-md;
        @apply mb-6;
        @apply leading-loose
    }
    blockquote p {
        @apply mb-0;
    }
    a {
        @apply underline;
        @apply decoration-gray-300;
        @apply transition-all;
    }
    a:hover {
        @apply decoration-gray-500;
        @apply transition-all;
    }
    .img-transform {
        transform-style: preserve-3d;
        transform:
            perspective(1000px)
            rotateX(1deg)
            rotateY(359deg)
            rotateZ(360deg)
            translateZ(0);
    }
    .img-shadow {
        box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.32), 0px 1px 2px 0px rgba(0, 0, 0, 0.16);        
    }
    .content-container {
        @apply mx-auto; 
        @apply max-w-6xl;
        @apply px-8 lg:px-0;
    }
  }
