---
import { Image } from 'astro:assets';
import PageLayout from "../layouts/PageLayout.astro";

import headshot from "../images/t&h.jpg";
import twLogo from "../images/tw-logo.svg";
---

<PageLayout title="index">
  <div class="h-screen flex flex-col lg:flex-row gap-8 lg:gap-0 items-center mt-6 lg:mt-0">
    <div class="flex w-full lg:w-1/2 items-center">
      <div class="flex flex-col gap-4 max-w-xl text-base lg:text-lg leading-loose lg:leading-loose font-normal text-gray-500">
        <div class="text-gray-900">
          I'm Tyler. 
        </div>
        <div>
          I <span class="text-gray-900">design interfaces</span> for software products, <span class="text-gray-900">build internet businesses</span>, and occasionally <span class="text-gray-900">write books</span>.
        </div>
        <div>
          In my off time I’m <span class="text-gray-900">renovating a 100 year old Victorian house</span> in the Pacific Northwest. In a past life I <span class="text-gray-900">designed video games</span>.
        </div>
        <div>
          It's nice to see you,
        </div>
        <div class="inline-flex text-black gap-1 -rotate-3 max-w-[60px]">
          –
          <Image 
            src={twLogo}
            width="40px"
            class="max-w-[32px] lg:max-w-none"
            alt="tdub.co logo" 
          />
        </div>
        </div>
      </div>
      <div class="flex w-full lg:w-1/2 justify-center">
          <div class="flex flex-col items-center justify-center rotate-1">
            <Image 
              src={headshot}
              width="383px"
              alt="Tyler Wanlass headshot"
              class="shadow-md max-w-[85%] lg:max-w-none"
            />
            <div class="w-full text-center text-[12px] font-medium text-gray-500 py-2"><sup>1</sup> Nope – not the gorgeous brunette. I’m the beardy dude.</div>
          </div>
      </div>
    </div>
  </div>

</PageLayout>