---
import LayoutPage from "../layouts/LayoutPage.astro";
import Avatar from '../components/Avatar.astro';
---

<LayoutPage title="Principles">
    <div class="hero flex flex-col gap-8 my-8 lg:my-16 lg:my-24">
        <Avatar></Avatar>
        <div class="flex flex-col gap-2">
            <h1 class="text-[32px] lg:text-[56px] font-[590] leading-[115%] -tracking-[1px] text-balance" style="text-wrap: balance;">
                Principles
            </h1>
            <p class="text-[16px] lg:text-[18px] font-[360] text-[#909090] -tracking-[.8px]">
                Last updated October 23, 2024
            </p>
        </div>

        <p class="text-[16px] lg:text-[18px] font-[360] max-w-prose">
            These are a set of foundational principles and mental models I'm finding repeatedly useful in my life. This list is just for me, though I encourage you to think about your own and document them as well.
        </p>
        <ol class="list-decimal list-inside leading-loose text-[16px] lg:text-[18px] font-[360]">
            <li>You can learn from anyone</li>
            <li>The only constant is change</li>
            <li>Be wary of absolutes</li>
            <li>Default to trust</li>
            <li>Relationships over transactions</li>
            <li>Necessary, but not sufficient</li>
            <li>See the trees, see the forest</li>
            <li>Alchemy is real</li>
            <li>Production before consumption</li>
            <li>As it is, not as you want it to be</li>
            <li>Invert</li>
            <li>Two opposing ideas can be true at once</li>
            <li>Infinite games > finite games</li>
            <li>Consciously outsource your thinking</li>
            <li>Riding the wave > creating the wave</li>
            <li>If you have to eat shit, don't nibble</li>
            <li>Observe without judgement</li>
            <li>Don't stop on a bad day</li>
            <li>Start with what it isn't</li>
            <li>Disagree, *share*, and commit</li>
            <li>You can't judge a decision by its outcome</li>
            <li>Find your hook</li>
            <li>Anything worth doing is worth doing well</li>
            <li>You gotta deliver</li>
        </ol>
    </div>
</LayoutPage>