---

---

<html>
    <body class="flex flex-col h-screen">
        <nav class="flex items-center px-4 border-b h-[64px]">
            Sandbox app
        </nav>
        <main class="flex h-screen">
            <section class="border-r p-8">
                <nav class="flex flex-col h-full place-content-between">
                    <ul>
                        <li>Dashboard</li>
                        <li>Products</li>
                        <li>Analytics</li>
                    </ul>
                    <ul>
                        <li>Settings</li>
                        <li>Logout</li>
                    </ul>
                </nav>
            </section>
            <section class="p-12">
                <h1 class="font-bold text-xl">Sandbox / Dashboard</h1>
                <p>This is an exmaple layout page to use for building experiences</p>
            </section>
        </main>
    </body>
</html>