---
import { Image } from 'astro:assets';
import CaseStudyLayout from "../../layouts/CaseStudyLayout.astro";
import Caption from "../../components/Caption.astro"

import iconInfoSquare from "../../images/icons/info-square.svg";
import es01 from "../../images/work/es-01.png";
import es02 from "../../images/work/es-02.png";
import es03 from "../../images/work/es-03.png";
import esds from "../../images/work/es-ds.png";
---

<CaseStudyLayout title="Design">
  <!-- Hero section -->
  <section class="py-20">
    <div class="content-container flex flex-col gap-12">
      <h2 class="text-gray-800 font-light leading-snug max-w-2xl">Helping agencies and enterprises track the impact of their SEO efforts across thousands of keywords.</h2>
      <div class="flex gap-16">
        <div class="flex flex-col gap-1">
          <div class="text-xxs font-medium uppercase text-gray-600">Client</div>
          <div class="text-gray-800 text-lg font-regular">ExactScience</div>
        </div>
        <div class="flex flex-col gap-1">
          <div class="text-xxs font-medium uppercase text-gray-600">Role</div>
          <div class="text-gray-800 text-lg font-regular">Lead Product Designer</div>
        </div>
        <div class="flex flex-col gap-1">
          <div class="text-xxs font-medium uppercase text-gray-600">Year</div>
          <div class="text-gray-800 text-lg font-regular">2022</div>
        </div>
      </div>
    </div>
  </section>
  <!-- Content section -->
  <section class="bg-[#9269F7] py-20">
    <div class="content-container flex flex-col gap-32 p-8">
      <div class="img-transform">
        <Image 
          src={es01}
          width=""
          class="img-shadow rounded-lg"
          alt="" 
        />
        <Caption title="Kewyword dashboard view" />
      </div>
      <div class="img-transform">
        <Image 
          src={es03}
          width=""
          class="img-shadow rounded-lg"
          alt="" 
        />
        <Caption title="Settings modal view" />
      </div>
      <div class="img-transform">
        <Image 
          src={es02}
          width=""
          class="img-shadow rounded-lg"
          alt="" 
        />
        <Caption title="Keyword import view" />
      </div>
    </div>
  </section>
  <section class="bg-gray-900 py-20 relative">
    <div class="bg-gradient-to-r from-gray-900 absolute top-0 left-0 z-10 h-full w-[25%]"></div>
    <div class="bg-gradient-to-l from-gray-900 absolute top-0 right-0 z-10 h-full w-[25%]"></div>
    <div class="img-transform">
      <Image 
        src={esds}
        width=""
        class="max-w-[120%]"
        alt="" 
      />
    </div>
    <div class="content-container">
      <Caption title="Design system overview" />
    </div>
  </section>
</CaseStudyLayout>