---
const currentYear = new Date().getFullYear();
---
<!-- Section: footer -->
<div class="anim-entry anim--footer section flex flex-col gap-6 mt-8 mb-24 lg:my-16">
    <div class="flex flex-col gap-1 lg:gap-2 text-[13px] lg:text-[18px] font-[360] text-[#909090]">
        <p>Built from scratch with <a href="https://claude.com/product/claude-code" target="_blank">Claude Code</a>, <a href="https://www.cursor.com/" target="_blank">Cursor</a>, <a href="https://warp.dev" target="_blank">Warp</a>, <a href="https://astro.build/" target="_blank">Astro</a>, and <a href="https://tailwindcss.com/" target="_blank">Tailwind</a>.</p>
        <p>Design, words, and code © {currentYear} Tyler Wanlass.</p>
        <p>You smell really nice.</p>
        <p>✌️</p>
    </div>
</div>