---
import { Image } from 'astro:assets';
import twLogo from "../images/tw-logo.svg";
import Underline from "../components/Underline.astro";

const currentUrl = Astro.url.pathname;
---
<nav class="hidden lg:block mt-0">
    <ul class="mt-auto flex flex-col lg:flex-row lg:items-center list-none m-0 grow text-[22px] font-[325] tracking-[0.32px]">
        <div class="flex flex-col lg:flex-row w-1/3 justify-start lg:gap-2">
            <li>
                <a href="/#design" class={`relative no-underline hover:text-[#6A6A6A] transition-all ${currentUrl.includes('design') ? 'active' : ''}`}>
                    Design,
                    <Underline></Underline>
                </a>
            </li>
            <li>
                <a href="/notes" class={`relative no-underline hover:text-[#6A6A6A] transition-all ${currentUrl.includes('notes') ? 'active' : ''}`}>
                    Notes,
                    <Underline></Underline>
                </a>
            </li>
        </div>
        <div class="flex order-first lg:order-none mb-2 lg:mb-0 w-1/3 lg:justify-center">
            <li class="flex flex-col justify-center select-none">
                <a href="/" class={`relative ${currentUrl === '/' ? 'active' : ''}`}>
                    <Image 
                        src={twLogo}
                        width="34px"
                        class=""
                        alt="Tyler Wanlass signature" 
                        quality={100}
                    />
                    <Underline offset="-6px"></Underline>
                </a>
            </li>
        </div>
        <div class="flex flex-col lg:flex-row w-1/3 justify-end lg:gap-2">
            <li>
                <a href="/principles" class={`relative no-underline hover:text-[#6A6A6A] transition-all ${currentUrl.includes('principles') ? 'active' : ''}`}>
                    Principles,
                    <Underline></Underline>
                </a>
            </li>
            <li>
                <a href="/timeline" class={`relative no-underline hover:text-[#6A6A6A] transition-all ${currentUrl.includes('timeline') ? 'active' : ''}`}>
                    Timeline,
                    <Underline></Underline>
                </a>
            </li>
            <li>
                <a href="/now" class={`relative no-underline hover:text-[#6A6A6A] transition-all ${currentUrl.includes('now') ? 'active' : ''}`}>
                    Now
                    <Underline></Underline>
                </a>
            </li>
        </div>
    </ul>
</nav>

<div class="lg:hidden w-full fixed bottom-0 left-0 z-10 px-4 py-6  bg-white/70 backdrop-blur-sm">
    <div class="text-[16px] flex h-12 items-center w-full px-3 gap-1 bg-black text-white">
        <div class="rotate-90 text-[#909090]"></div>
        <select class="appearance-none bg-black text-white w-full focus:outline-none" onchange="location = this.value;" value={currentUrl}>
            <option value="/" selected={currentUrl === '/'}>Home</option>
            <option value="/#design" selected={currentUrl.includes('design')}>Design</option>
            <option value="/notes" selected={currentUrl.includes('notes')}>Notes</option>
            <option value="/principles" selected={currentUrl.includes('principles')}>Principles</option>
            <option value="/timeline" selected={currentUrl.includes('timeline')}>Timeline</option>
            <option value="/now" selected={currentUrl.includes('now')}>Now</option>
        </select>
    </div>
</div>