---
import { Image } from 'astro:assets';
import twLogo from "../images/tw-logo.svg";
import underline from "../images/2024/underline.svg";
---
<nav class="hidden lg:block">
    <ul class="flex items-center list-none m-0 grow text-[22px] font-[325] tracking-[0.32px]">
        <div class="flex w-1/3 justify-start gap-2">
            <li class="cursor-not-allowed select-none">Notes,</li>
            <li><a href="/#design" class="no-underline hover:text-[#6A6A6A] transition-all">Design</a></li>
        </div>
        <div class="flex w-1/3 justify-center">
            <li class="flex flex-col justify-center select-none">
                <a href="/">
                    <Image 
                        src={twLogo}
                        width="34px"
                        class=""
                        alt="Tyler Wanlass signature" 
                        quality={100}
                    />
                    <Image 
                        src={underline}
                        width="40px"
                        class="pt-[2px]"
                        alt="underline" 
                        quality={100}
                    />
                </a>
            </li>
        </div>
        <div class="flex w-1/3 justify-end gap-2">
            <li><a href="/principles" class="no-underline hover:text-[#6A6A6A] transition-all">Principles,</a></li>
            <li><a href="/timeline" class="no-underline hover:text-[#6A6A6A] transition-all">Timeline,</a></li>
            <li><a href="/now" class="no-underline hover:text-[#6A6A6A] transition-all">Now</a></li>
        </div>
    </ul>
</nav>