---
import { ViewTransitions } from 'astro:transitions';
import { fade } from 'astro:transitions';
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

const {frontmatter} = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={frontmatter.title} />
    <ViewTransitions />
  </head>

  <body class="bg-white dark:bg-black subpixel-antialiased" transition:animate={fade({ duration: '0.15s' })}>
    <Header />
    <main class="mx-auto max-w-6xl mt-6 mb-24 lg:mt-16 lg:mb-8 px-8 lg:px-0">
      <section class="max-w-3xl">
        <h1>{frontmatter.title}</h1>
        <slot />
      </section>
    </main>
  </body>
</html>
